@mixin ballStyle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
}

@mixin animation($duration, $delay) {
    // animation: moveBall $duration $function $delay $iteration;
    animation-name: moveBall;
    animation-duration: $duration;
    animation-timing-function: linear;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}

@mixin background ($color) {
    background-color: $color;
}